.backgroundImage {
  background-image: url("https://ik.imagekit.io/egkxyv8la/College-Management/bg_55KIT_FXy.jpg?updatedAt=1687346942074");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: 90dvh;
}
